<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- core-splashscreen library ka apna minSdk 23 hai; humara app minSdk 21 hai
         (purane device support ke liye). Override safe hai -> API 21-22 pe library
         khud SDK_INT check karke gracefully kuch nahi karti, crash nahi hota. -->
    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />

    <application
        android:name=".BubbleShootApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">
        <activity
            android:name="com.gax.bubbleshoot.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gax.bubbleshoot.leveleditor.LevelEditorActivity"
            android:exported="false"
            android:label="Level Editor (Debug)"
            android:theme="@style/Theme.AnimalsPop" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>